---
title: Wormier Docs
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Wormier Docs - {{title}}</title>	

		<link rel="stylesheet" href="/assets/vendor/normalize/normalize.css" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>
		<div class="page-grid">
			<header class="page-header width-wide">
				<h1>
					<a class="link-reset" href="/">Wormier Docs</a>
				</h1>

				<div class="page-header__socials">
					<a href="/table-of-contents">Table of Contents</a>
					<a href="/status">Status</a>
					<a href="https://discord.gg/MKE5dSN">Discord</a>
					<a href="https://github.com/wormier-docs">GitHub</a>
				</div>
			</header>

			{{ content | safe }}
		</div>

		<footer class="page-grid page-footer">
			<div class="width-wide">
				<p>This work is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> License.</p>
			</footer>
		</div>
	</body>
</html>
