@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/Alegreya-Regular.woff2') format('woff2'),
	url('../fonts/Alegreya-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url('../fonts/AlegreyaSansSC-Regular.woff2') format('woff2'),
	url('../fonts/AlegreyaSansSC-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Custom Resets */
html, body {
	min-height: 100vh;
}

body {
	font-family: 'Alegreya';
	line-height: 1.5;

	display: flex;
	flex-direction: column;
}

.link-reset, .link-reset:visited {
	color: inherit;
	text-decoration: none;
}

/* Spacing Utilities */
.mt-1 {
	padding-top: .25rem;
}
.mt-2 {
	padding-top: .5rem;
}
.mt-3 {
	padding-top: 1rem;
}
.mt-4 {
	padding-top: 1.5rem;
}
.mt-5 {
	padding-top: 2rem;
}

/* Flex Utilities */
.d-flex {
	display: flex;
}
.d-flex.wrap {
	flex-wrap: wrap;
}
.justify-space-between {
	justify-content: space-between;
}

/* Page Layout */
.page-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5vmin 0;
}

.page-header .page-header__socials a {
	margin-left: 1rem;
}

.page-footer {
	padding: 1.5vmin 0;
	margin-top: auto;
}

/* CSS Grid  */
.page-grid {
	display: grid;
	grid-template-columns: [full-start] minmax(4vmin,auto) [wide-start] minmax(auto,100px) [main-start] min(720px,calc(100% - 8vw)) [main-end] minmax(auto,100px) [wide-end] minmax(4vmin,auto) [full-end];
}

.page-grid > * {
	grid-column: main-start / main-end;
}
.page-grid .width-wide {
	grid-column: wide-start / wide-end;
}
.page-grid .width-full {
	grid-column: full-start / full-end;
}

.page-grid img {
	width: 100%;
}

.page-grid > *+* {
	margin-top: 2vmin;
	margin-bottom: 0;
}

.page-content h1:not(:first-of-type),
.page-content h2:not(:first-of-type),
.page-content h3:not(:first-of-type),
.page-content h4:not(:first-of-type),
.page-content h5:not(:first-of-type),
.page-content h6:not(:first-of-type) {
	margin-top: 3rem;
}

.warning {
	background-color: #EF4444;
	color: #fff;
	text-align: center;
}

/* Buttons */
.btn {
	border: none;
	font-size: max(2rem, 2.5vmin);

	border-radius: 15px;
	padding: .5rem 1rem;
}

.btn.btn-sm {
	font-size: max(1rem, 1.25vmin);
}

a.btn, a.btn:visited {
	text-decoration: none;
}
a.btn:hover {
	text-decoration: underline;
}

.btn.btn-purple {
	background-color: #8B5CF6;
	color: #fff;
}
.btn.btn-green {
	background-color: #10B981;
	color: #fff;	
}
.btn.btn-red {
	background-color: #EF4444;
	color: #fff;
}

/* Code Blocks */
code {
	background: #1F2937;
	color: #F7F7F7;
	padding: 0 .25rem;
}

pre.code {
	background-color: #1F2937;
	color: #F7F7F7;
	border-radius: 10px;
	padding: 10px;
	overflow-x: auto;
	white-space: inherit;
}
pre.code code {
	white-space: nowrap;
}

pre.code code:before {
	content: "$ ";
	color: #62BEC1;
}

/* Tables */
table {
	border-collapse: collapse;
	line-height: 2;
}

tr {
	border: 3px solid black;
}

td, th {
	padding: .5rem 1rem;
}
